
/*
  Colors
*/

/* Login page */
$primary: #3E1D5E;
$secondary: #1E1336;
$form: #1F1234;
$form-second: #2A174A;
$font: #ffffff;
$btn: #8000FF;
$btn-hover: #006eff;

/* Menu */
$menu: #1f1f1f;
$black: #000000;
$grey: #8e8e8e;

/* Profile page */
$profile: #171717;
$username: #3FFFFF;
$follow: #BF36FF;

/* Profile logos */
$linkedin: #4DC9FF;
$facebook: #0094FF;
$twitter: #00D1FF;
$instagram: #FF8A00;